@import "../../../_colors";

.header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    background: $header-bckg;
}

.title {
    color: $txt-secondary;
    font-size: 2rem;
    font-weight: 800;
}